.heading, .container {
    display: flex;
    justify-content: center;
}

h1 {
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 43%, rgba(252,176,69,1) 100%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
font-size: 65px;
}

.inputArea {
padding: 18px;
width: 35%;
border: none;
}

.btn {
    padding: 17px;
    background-color: #a93ab4;
    border: none;
}

body {
    background-image: url(drink.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #a93ab4;
}

.toDoStyle {
    background-color: #fcb045;
    list-style-type: none;
    padding: 15px;
    width: 50%;
    text-align: center;
    color: #4e4d4b;
    font-size: 23px;
    border-bottom: 1px solid #53524f;
}

.toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoDone {
    font-weight: bold;
    text-decoration: line-through;
    background: #d56d97;
    color: #53524f;
    transition: all 1s ease;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 34px;
    }
}